<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <header>
        <h1>{{ title }}</h1>
        <p>{{ description }}</p>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                {% for section in sections %}
                    <li><a href="{{ section.route }}" title="{{ section.description }}" >{{ section.name }}</a></li>
                {% endfor %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        <!-- Contenido específico de cada página -->
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 SpotFolio Framework</p>
    </footer>
</body>
</html>
